/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #a0c9f8;
    --clr-bg-pri: #121637;
    --clr-bg-sec: #b4d4fb;
    --clr-acc-main: #00bea6;
    --clr-acc-pri: #4393f5;
    --clr-acc-sec:  #3676c4;
    --clr-acc-thi: #2e67a9;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {font-size: var(--h1-fs);}
h2 {font-size: var(--h2-fs);}
h3 {font-size: var(--h3-fs);}
h4 {font-size: var(--h4-fs);}

p, a, li {font-size: var(--p-fs);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  var(--clr-acc-pri);
    color: #fff;
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.btn:last-of-type {
    background-color: transparent;
    color: var(--clr-acc-pri);
}
  
.btn:first-of-type:hover {
    background-color: var(--clr-acc-sec);
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:last-of-type:hover {
    color: var(--clr-acc-thi);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/


@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
 html {
	 box-sizing: border-box;
	 height: 100%;
}
 *, *:before, *:after {
	 box-sizing: inherit;
}
 body {
	 background-color: #211f23;
	 background-repeat: no-repeat;
	 background-image: radial-gradient(circle at top, rgba(83, 69, 91, 1) 0, rgba(32, 30, 34, 1) 70%);
	 color: #fff;
	 font-family: 'Lato', sans-serif;
	 font-size: 100%;
	 min-height: 100%;
	 line-height: 1.5;
	 padding: 2.5em 0;
}
 .container {
	 margin: 0 auto;
	 width: 90%;
	 max-width: 1200px;
}
 .group:after {
	 content: "";
	 display: table;
	 clear: both;
}
 .card {
	 border: 2px solid #5d4e65;
	 min-height: 400px;
	 padding: 1.25em;
	 position: relative;
	 text-align: center;
	 transition: all 0.2s ease-in-out;
}
.card:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

 @media screen and (min-width: 700px) {
	 .card {
		 float: left;
		 width: 50%;
	}
	 .card:nth-child(odd) {
		 clear: left;
	}
}
 @media screen and (min-width: 800px) {
	 .card {
		 width: 33.3333333%;
	}
	 .card:nth-child(3n+1) {
		 clear: left;
	}
	 .card:nth-child(odd) {
		 clear: none;
	}
}
 @media screen and (min-width: 1120px) {
	 .card {
		 width: 25%;
	}
	 .card:nth-child(odd), .card:nth-child(3n+1) {
		 clear: none;
	}
}
 .card:hover {
	 background-color: #53455b;
     border-image: linear-gradient( top, #ff4f69, #ec7a37);
	 background-image: linear-gradient(rgba(83, 69, 91, 1) 0%, rgba(32, 29, 34, 1) 100%);
	 border-top: 2px solid #ec7a37;
	 border-bottom: 2px solid #ff4f69;
	 box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
	 transform: scale(1.025);
	 z-index: 2;
     
}
 .card:hover:before, .card:hover:after {
	 content: "";
	 position: absolute;
	 background: linear-gradient(#f67d35, #ff4f68);
	 border-image: linear-gradient(rgba(246, 125, 53, 1) 0%, rgba(255, 79, 104, 1) 100%);
	 top: -2px;
	 bottom: -2px;
	 width: 2px;
}
 .card:hover:before {
	 left: -2px;
}
 .card:hover:after {
	 right: -2px;
}
 .card:hover .button {
	 background-color: #ee7a36;
	 background-image: linear-gradient(rgba(238, 122, 54, 1) 0%, rgba(235, 73, 93, 1) 100%);
}
 h2, h3, p, ul {
	 margin: 0;
}
 h2 {
	 font-size: 1em;
	 font-weight: 400;
	 margin: 0 0 0.5em;
}
 h3 {
	 font-size: 1.5em;
	 letter-spacing: 0.0625em;
	 margin: 0 0 0.3333333333em;
}
 p {
	 font-size: 0.875em;
}
 p, ul {
	 margin: 0 0 1.5em;
}
 ul {
	 color: #796583;
	 font-size: 0.75em;
	 list-style-type: none;
	 padding: 0;
}
 ul li {
	 margin: 0 0 0.8333333333em;
}
 .button {
	 background-color: #9c83aa;
	 border-radius: 20px;
	 color: #fff;
	 font-size: 1em;
	 font-weight: 700;
	 padding: 0.75em 1.5em;
	 position: absolute;
     white-space: nowrap;
	 bottom: 1.25em;
	 left: 50%;
     margin: 0 auto;
     transform: translateX(-50%);
	 text-decoration: none;
}
 .uppercase, .button, h2 {
	 text-transform: uppercase;
}
 sup, .small {
	 font-size: 0.6125em;
}

input[type=radio] {
    appearance: none;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--clr-acc-thi);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: .2s all ease-in-out;
    cursor: pointer;
    margin-right: .5rem;
    overflow: hidden;
}

.price {
    content: '';
    display: inline-block;
    transform: translate(0);
    transition: .3s;
    position: relative;
    width: 45px;
    height: 1.5rem;
}

.price::after {
    content: '29';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: .3s;
    opacity: 0;
}

.small {
    content: '';
    display: inline-block;
    transform: translate(0);
    transition: .3s;
    position: relative;
    width: 50px;
    height: 2rem;
}

.small:before {
    content: '/year';
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    transition: .3s;
    transform: translate(0, -20px);
    opacity: 0;
}

.small:after {
    content: '/month';
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    transition: .3s;
    transform: translate(0, 20px);
    opacity: 0;
}

.price::before {
    content: '299';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: .3s;
    transform: translate(0, 20px);
    opacity: 0;
}

.card.annually .price:after{
    transform: translate(0, -20px);
    opacity: 0;
}

.card.annually .small:after{
    transform: translate(0, 20px);
    opacity: 0;
}

.card.annually .price::before {
    transform: translate(0);
    opacity: 1;
}

.card.annually .small::before {
    transform: translate(0);
    opacity: 1;
    
}

.card .price::after {
    transform: translate(0);
    opacity: 1;
}

.card .small::after {
    transform: translate(0);
    opacity: 1;
}



input[type=radio]:before {
    content: '';
    position: absolute;
    background: linear-gradient(var(--clr-acc-four), var(--clr-acc-thi));
    background: radial-gradient(var(--clr-acc-pri), var(--clr-acc-thi));
    width: 1.5rem;
    height: 1.5rem;
    transform: scale(0), translate(-50%, -50%);
    opacity: 0;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transition: .2s all ease-in-out;

}

input[type=radio]:checked:before {
    transform: scale(1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

form > label {
    display: flex;
    cursor: pointer;
    margin: .5rem 0 1rem;
}
 